/* App Container Styles */
.App {
  text-align: center;
}

.App-header {
  background-color: var(--color-primary);
  padding: 2em;
  color: var(--color-background);
  border-bottom: 2px solid var(--color-accent);
}

.App-footer {
  background-color: var(--color-primary);
  padding: 1em;
  color: var(--color-background);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.App-footer a {
  color: var(--color-secondary);
}
